
.container {
    display: grid;
    grid-template: 
    'topo topo topo'
    'menu1 promocao promocao';
    background-color: rgb(143, 150, 153);
}
.titulo {
    text-align: center;
    font-size: 100px;
    color:  rgb(215, 230, 47);
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0px 0px 20px 0px;
    text-shadow: 3px 4px 1px black;
    
    
}
.subtitulo {
    text-align: center;
    font-size: 30px;
    color: rgb(215, 230, 47);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1.5px 2.5px rgb(6, 6, 6);
    border: solid 3px;
}
a:hover {
    color:black;
}
a {
    color: rgb(215, 230, 47);
}
.topo {
    grid-area: topo;
}
.menu {
    grid-area: menu1;
    font-size: 25px;
    color: black;
}
.promocao {
    grid-area: promocao;
}
.texto {
    text-shadow: 0.7px 1.5px 3px black;
}

li:hover {
    color: rgb(215, 230, 47) ;
}

p {
    color: rgb(0, 0, 0);
    margin: 20px 0px 0px 55px
    
    
}
p:hover {
    color: rgb(215, 230, 47);
}

img {
    width: 400px;
    height: 500px;
    border: solid 5px  rgb(215, 230, 47);
    margin: 20px 0px 0px 50px;
}